.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}
.form-label{
    padding: 5px;
    padding-left: 0;

}
.signup-right{
    width: 40%;
    background-color:#A0D411 ;
    padding: 80px;
    
}
.signup-left{
    width: 40%;
    padding: 25px;
    background-color: #fff;
    text-align: center;
    box-shadow:0 8px 16px 0 rgba(26, 97, 32, 0.586), 0 6px 20px 0 rgba(20, 82, 28, 0.789) ;
    border-radius: 20px;
    border: 1px solid #000;
    
}


.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.login-right{
    width: 50%;
}
.login-left{
    width: 40%;
    padding: 25px;
    background-color: #fff;
    text-align: center;
    box-shadow:0 8px 16px 0 rgba(26, 97, 32, 0.586), 0 6px 20px 0 rgba(20, 82, 28, 0.789) ;
    border-radius: 20px;
    border: 1px solid #000;
}


.signupbtn{
    width: 50%;
    margin-left: 15px;
    border: none;
    background: none;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;

}
.signupbtn:hover{
    background-color: #A0D411;
    color: #000;
    border: 1px solid #A0D411;
}
.loginbtn{
    width: 50%;
    margin-left: 15px;
    border: none;
    background: none;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;

}
.loginbtn:hover{
    background-color: #A0D411;
    color: #000;
    border: 1px solid #A0D411;
}
.signup-right-heading{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signup-right-sub{
    text-align: center;
    margin-top: 20px;
}
.signuplink{
    margin-top: 20px;
    width: 40%;
    background: none;
    border: none;
    border: 1px solid #000;
    padding: 12px;
    border-radius: 30px;
}
.addimg{
    width: 20%;
}
.signup-heading{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
}
.signup-end{
    margin-top: 20px;
    font-size: 14px;
}
.anchorlink{
    color: #A0D411;
}